<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>FlaskApp controll hub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{{url_for("static",
  filename="css/bootstrap.min.css") }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for("static",
  filename="images/cabinIcon.png") }}">
</head>

<header>
  <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img style="max-width:70px"
        src="{{url_for("static", filename="images/cabinIcon.png") }}">
      </a>
  </div>

  <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
    <a href"logout">
      <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-off"></span>Logout
      </button>
    </a>

  </ul>

</header>

<body>
{% block body%} {% endblock %}
</body>

</html>
